<!--<script src="js/qrcode_min.js" type="text/javascript"></script>-->
<div class="row">
    <div class="col-md-12">
        <div class="align-right">
            <button type="button" class="btn btn-primary btn-raised" ng-click="createArticle()">Siparis Olustur</button>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 5px">
    <div class="col-md-12">
        <div ba-panel ba-panel-class="with-scroll">
            <div class="horizontal-scroll">
                <table class="table table-hover">
                    <thead>
                    <tr class="black-muted-bg">
                        <th>ID</th>
                        <th>Siparis Veren</th>
                        <th>E-Posta</th>
                        <th>Telefon</th>
                        <th>Odeme Tipi</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in siparisTableData" class="no-top-border">
                        <td>{{item.id}}</td>
                        <td>{{item.siparis_veren_kisi}}</td>
                        <td>{{item.e_posta}}</td>
                        <td>{{item.telefon}}</td>
                        <td>{{item.odeme_tipi}}</td>
                        <td>
                            <a href="/app/pages/siparis/print-qr-code.html?c={{item.id}}" target="_blank">Link</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
